body{
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 54, 61);
    color: black;
    font-family: sans-serif;
}

main{
    margin-top: 200px;
}

main > form{
    height: 400px;
    width: 350px;
    margin: 50px auto 0;
}

legend{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 15px;
    font-size: 25px;
    color: white;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    
}

main > form fieldset{
    height: 100%;
    border-radius: 20px;
    background-color: white;
}

main > form label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

main > form input{
    border-radius: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    border: none;
}


#inputLogin, #inputPassword{
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.20);
    background-color: #ddd;
}

#inputLogin:focus, #inputLogin:hover, #inputPassword:focus, #inputPassword:hover{
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    background-color: white;
}

#inputLogin{
    margin-bottom: 15px;
}

#btn{
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    background-color: black;
    color: white;
}

#cadastro{
    margin-top: 30px;
    text-align: center;
}

#cadastro > a{
    text-decoration: none;
    color: black;
}

#cadastro > a:hover{
    color: blue;
    text-decoration: underline;
}
